{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            SEGUIMIENTO
            <small>ALTAS</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="b2b/b2b">Principal B2B</a></li>
            <li><a href="b2b/altas">Dashboard ALTAS</a></li>
            <li class="active">Seguimiento de Altas</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">ATRASADO</h3>
                        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#verTablaAltas" onclick="carga_ordenes_tabla_modal('ATRASADO','-1',document.getElementById('select_bloque_hoy').value);">Ver Todas</a>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <thead>
                                <thead>
                                    <th>Motivo Pendiente</th>
                                    <th>Q</th>
                                </thead>
                            </thead>
                            <tbody>
                                {% for t in db_ATRASADO if false != db_ATRASADO %}
                                    <tr>
                                        <td>{{ t.DESC_PENDIENTE }}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#verTablaAltas" onclick="carga_ordenes_tabla_modal('ATRASADO','{{ t.CLASIFICACION_PENDIENTE }}','TODOS');">{{ t.q }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">COMPROMISO {{ "now"|date('d-m-Y') }}&nbsp;&nbsp;</h3>
                        <select class="" id="select_bloque_hoy" name="select_bloque_hoy" onchange="selectBloqueHoySeguimiento()">
                            {% set total = 0 %}
                            {% for t in db_HORARIO_COMPROMISO if false != db_HORARIO_COMPROMISO %}
                                <option value="{{ t.HORARIO_COMPROMISO }}">{{ t.q }} => {{ t.HORARIO_COMPROMISO }} </option>
                                {% set total = total + t.q %}
                            {% endfor %}
                            <option value="TODOS" selected>{{ total }} => TODOS</option>
                        </select>
                        <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#verTablaAltas" onclick="carga_ordenes_tabla_modal('HOY','-1',document.getElementById('select_bloque_hoy').value);">Ver Todas</a>
                    </div>
                    <div class="box-body" id="div_hoy">
                        <table class="table table-bordered">
                            <thead>
                                <th>Motivo Pendiente</th>
                                <th>Q</th>
                            </thead>
                            <tbody>
                                {% for t in db_HOY if false != db_HOY %}
                                    <tr>
                                        <td>{{ t.DESC_PENDIENTE }}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#verTablaAltas" onclick="carga_ordenes_tabla_modal('HOY','{{ t.CLASIFICACION_PENDIENTE }}','TODOS');">{{ t.q }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">

                    </div>
                </div>
            </div>

        </div>
    </section>
    <div id="verTablaAltas" class="modal fade col-lg-12 col-md-12 col-xs-12" role="dialog">
      <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><div id='titulo_modal'></div> </h4>
          </div>
          <div class="modal-body table-responsive">
            <table id="table_ordenes_pendientes_altas" class="table table-bordered table-responsive">
                <thead>
                    <th>FLUJO</th>
                    <th>FECHA_INGRESO</th>
                    <th>ULTIMA_AGENDA</th>
                    <th>BLOQUE</th>
                    <th>IDEN_TRANSAC</th>
                    <th>RUT_PERSONA</th>
                    <th>COMUNA</th>
                    <th>ZONA</th>
                    <th>EMPRESA</th>
                    <th>Q-REAGE</th>
                    <th>Modificado</th>
                    <th>ESTADO</th>
                    <th>OBSERVACION</th>
                    <th>OPERACION</th>
                </thead>
                <tbody>

                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content -->

{% endblock %}
{% block appScript %}
    <script src="views/app/js/b2b/altas.js"></script>

    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script>
        $("#table_ordenes_pendientes_altas").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info":"Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing":"Procesando...",
                "infoEmpty":"No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate":{
                  "first":"Primera",
                  "last":"Ultima",
                  "next":"Siguiente",
                  "previous":"Anterior",
                }
            },
            "autoWidth": true,
            "lengthMenu": [[ 5, 10, 25, 50, -1], [ 5, 10, 25, 50, "Todos"]],
            "iDisplayLength": 5
        });
    </script>
{% endblock %}
