{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            B2B - Altas
            <small>Listado de Motivos Incumplimiento</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="b2b/b2b">Principal B2B</a></li>
            <li><a href="b2b/altas">Dashboard ALTAS</a></li>
            <li class="active">
                <a class="btn btn-primary btn-social pull-right" href="b2b/nuevo_motivoincumplimiento" title="Agregar" data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                    Agregar Nuevo Motivo
                </a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataTables1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width='100'>Codigo</th>
                                    <th>Descripción</th>
                                    <th>Responsable</th>
                                    <th width='100'>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in db_motivoincumplimiento if false != db_motivoincumplimiento %}
                                    <tr>
                                        <td>{{ d.id }}</td>
                                        <td>{{ d.descripcion }}</td>
                                        <td>{{ d.grupo }}</td>
                                        <td class='center' width='80'>
                                            <a data-toggle='tooltip' data-placement='top' title='Modificar' class='btn btn-success btn-sm' href="b2b/editar_motivoincumplimiento/{{ d.id }}">
                                                <i class='glyphicon glyphicon-edit'></i>
                                            </a>

                                            {% if d.estado == 0 %}
                                                <a data-toggle='tooltip' data-placement='top' title='Bloqueado' class='btn btn-warning btn-sm' href="b2b/estado_motivoincumplimiento/{{ d.id }}">
                                                    <i class='glyphicon glyphicon-off'></i>
                                                </a>

                                            {% else %}
                                                <a data-toggle='tooltip' data-placement='top' title='Activo' class='btn btn-danger btn-sm' href="b2b/estado_motivoincumplimiento/{{ d.id }}">
                                                    <i class='glyphicon glyphicon-check'></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}
{% block appScript %}

    <script src="views/app/js/b2b/altas.js"></script>

    <!-- DATA TABES SCRIPT -->
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script>
        $("#dataTables1").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "scrollX": true,
            "iDisplayLength": -1
        });
    </script>

{% endblock %}
