{% extends 'portal/portal' %}
{% block appBody %}

    <section class="content-header">
        <h1>
            REAGENDAMIENTO ANDES
            <small>Carga de Actividades</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li class="active">Cargar Pendiente de Reagendamiento</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body col-sm-8">
                        <div class="form-group">
                            <form id="formordenes" name="formordenes">
                                <input class='filestyle' data-buttontext="Logo" id="blindfile" onchange="document.getElementById('archivo').value=document.getElementById('blindfile').value" tabindex="-1" style="position:absolute; clip: rect(0px 0px 0px 0px);" type="file" name="files[]" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                <div class="bootstrap-filestyle input-group">
                                    <input type="text" class="form-control" id="archivo" placeholder="" disabled="">
                                    <span class="group-span-filestyle input-group-btn" tabindex="0">
                                        <label for="blindfile" class="btn btn-default ">
                                            <span class="icon-span-filestyle glyphicon glyphicon-share"></span>
                                            <span class="buttonText">Buscar Archivo</span>
                                        </label>
                                    </span>
                                </div>
                                <div id="div_cargando">
                                    <a class="btn btn-success btn-social" title="Importar Excel" data-toggle="tooltip" onclick="subirarchivoexcel()">
                                        <i class="fa fa-arrow-up"></i>
                                        Cargar Ordenes
                                    </a>
                                </div>
                                <br>
                                <br>

                            </form>
                        </div>

                          {% if q_temp > 0  %}
                              <a data-toggle='tooltip' data-placement='top' title='Ver datos cargados'       onclick='visualizar_ordenes()' class='btn btn-success btn-md col-md-3'>Ver datos cargados</a>
                              <a data-toggle='tooltip' data-placement='top' title='Cruzar base'              onclick='cruzarbases()' class='btn btn-primary btn-md col-md-3'>Cruzar bases</a>
                              <a data-toggle='tooltip' data-placement='top' title='Exportar inconcistencias' onclick='cargarinconcistencia()' class='btn btn-danger btn-md col-md-3'>Exportar inconcistencias</a>
                              <a data-toggle='tooltip' data-placement='top' title='Distribuir Actividades'   onclick='distribuirordenes()' class='btn btn-warning btn-md col-md-3'>Distribuir Ordenes</a>
                          {% endif %}

                        <p><strong>Ultimos 10 archivos cargados</strong></p>
                        <table class="table table-bordered">
                            <thead>
                                <th>No</th>
                                <th>Fecha y hora</th>
                                <th>Nombre de Archivo</th>
                                <th>Usuario</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                {% set No = 1 %}
                                {% for d in db_archivos if false != db_archivos %}
                                    <tr>
                                        <td>{{ No }}</td>
                                        <td>{{ d.fecha_hora }}</td>
                                        <td>{{ d.nombre_archivo }}</td>
                                        <td>{{ d.name }}</td>
                                        <td>{{ d.q_registros }}</td>
                                    </tr>
                                    {% set No = No + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-body col-sm-4">
                        <span>
                            <b>Formato de Archivo</b>
                            <p>Col C -> RUT_CLIENTE</p>
                            <p>Col E -> TIPO_CLIENTE</p>
                            <p>Col P -> NUMERO_ORDEN</p>
                            <p>Col S -> ID_ACTIVIDAD</p>
                            <p>Col AU -> ACTIVIDAD</p>
                            <p>Col BH -> FECHA_CREACIÓN</p>
                            <p>Col BL -> COMUNA</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% include 'reagendamiento/modal_visualizar' %}
    </section>

{% endblock %}
{% block appScript %}

    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="views/app/js/reagendamiento/reagendamiento.js"></script>
    <script>
        $("#tblordenes").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            
            "bSort": true
        });
    </script>
{% endblock %}
