{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}
    <div class="row">
      <div class="col-md-12">
          <section class="content-header">
              <h4>
                <i class="fa fa-user"></i> Reagendamiento
                <small>Usuarios</small>

                <div id="divestado" name="divestado" class="pull-right">
                    {% if db_UserStatus != false %}
                        <a class='btn btn-success btn-social' onclick="activar('reag_andes')"  title='ONLINE' data-toggle='tooltip'>
                        <i class='fa fa-toggle-on'></i> ONLINE
                        </a>
                        <input type="hidden" name="idestado" id="idestado" value="1">
                    {% else %}
                        <a class="btn btn-danger btn-social" onclick="activar('reag_andes')" title="OFFLINE" data-toggle="tooltip">
                        <i class="fa fa-toggle-off"></i> OFFLINE
                        </a>
                        <input type="hidden" name="idestado" id="idestado" value="0">
                    {% endif %}
                </div>
              </h4>
          </section>
      </div>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-md-12" id="divcontenido" name="divcontenido">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">Datos Orden</h4>
                    </div>
                    <div class="box-body">
                        <div id="divordenes" name="divordenes">
                            <form id="formordenes" name="formordenes">
                                <div class="col-md-2">
                                    <label>RUT CLIENTE</label>
                                    <input type="text" class="form-control col-md-3" id="txtrutcliente" name="txtrutcliente" value="{{ db_orden_reagendar.rut_cliente }}">
                                </div>
                                <div class="col-md-2">
                                    <label>ID ACTIVIDAD</label>
                                    <input type="text" class="form-control" id="txtnumorden" name="txtnumorden" value="{{ db_orden_reagendar.id_orden }}">
                                </div>
                                <div class="col-md-2">
                                    <label>N° ORDEN</label>
                                    <input type="text" class="form-control" id="txtpedido" name="txtpedido" value="{{ db_orden_reagendar.numero_orden }}">
                                </div>

                                <div class="col-md-3">
                                    <label>TIPO ACTIVIDAD</label>
                                    <input type="text" class="form-control" id="txtnombrecliente" name="txtnombrecliente" value="{{ db_orden_reagendar.actividad }}">
                                </div>
                                <div class="col-md-3">
                                    <label>COMUNA</label>
                                    {% if db_UserStatus != false %}
                                        <input type="text" class="form-control" id="opcioncomuna" name="opcioncomuna" value="{{ db_orden_reagendar.descripcion }}">
                                    {% else %}
                                        <select id='opcioncomuna' name='opcioncomuna' class="form-control">
                                            <option value="0">--</option>
                                            {% for c in db_comunas if false != db_comunas %}
                                                <option value="{{c.id_comuna}}">{{c.descripcion}}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                    <br>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box-footer">
                        <!-- <div id="divbotones" name="divbotones"> -->
                            {% if db_UserStatus != false %}
                                <div class='col-md-1'></div>
                                <a data-toggle='tooltip' data-placement='top' title='Volver a llamar' class='btn btn-success btn-md col-md-4' onclick='volverallamar()'>
                                    <i class='glyphicon glyphicon-earphone'></i>
                                </a>
                                <div class='col-md-2'></div>
                                <a data-toggle='tooltip' data-placement='top' title='Orden Reagendada' class='btn btn-primary btn-md col-md-4' onclick='reagendarorden()'>
                                    <i class='glyphicon glyphicon-ok-sign'></i>
                                </a>
                            {% else %}
                                <div class='col-md-1'></div>
                                <a data-toggle='tooltip' data-placement='top' title='Guardar Actividad' onclick='guardarordenes()' class='btn btn-success btn-md col-md-4'><i class='glyphicon glyphicon-floppy-disk'></i></a>
                                <div class="col-md-2"></div><a data-toggle='tooltip' data-placement='top' title='Orden Reagendada' onclick='reagendarordenes()' class='btn btn-primary btn-md col-md-4' ><i class='glyphicon glyphicon-ok-sign'></i></a>
                            {% endif %}
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">Historial Orden</h4>
                    </div>
                    <div class="box-body" id="divhistorial" name="divhistorial">
                        <table id='tblhistorial'  name='tblhistorial' class="table table-bordered">
                            <thead>
                                <th>FECHA_LLAMADO</th>
                                <th>ESTADO</th>
                                <th>OBSERVACION</th>
                                <th>EJECUTIVO</th>
                            </thead>
                            <tbody>
                                {% for h in db_historial_actividad if false != db_historial_actividad %}
                                    <tr>
                                        <td>{{ h.fecha }}</td>
                                        <td>{{ h.estado }}</td>
                                        <td>{{ h.observacion }}</td>
                                        <td>{{ h.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">Observacion Usuario</h4>
                        <div class="box-tools pull-right">
                            {% if db_UserStatus != false %}
                                <button type="button" class="btn btn-box-tool"  title='Agregar observacion' onclick='agregar_observacion()'><i class="fa fa-plus"></i></button>

                            {% else %}
                                <button type="button" class="btn btn-box-tool"   title='Agregar observacion'><i class="fa fa-plus"></i></button>
                            {% endif %}

                        </div>

                    </div>
                    <div class="box-body" id="divdatos" name="divdatos">
                        <table id='tblobservacion'  name='tblobservacion' class="table table-bordered">
                            <thead>
                                <th>FECHA_LLAMADO</th>
                                <th>OBSERVACION</th>
                                <th>EJECUTIVO</th>
                            </thead>
                            <tbody>
                                {% for h in db_observacion_cliente if false != db_observacion_cliente %}
                                    <tr>
                                        <td>{{ h.fecha_observacion }}</td>
                                        <td>{{ h.observacion }}</td>
                                        <td>{{ h.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'reagendamiento/modal_observacion' %}
{% endblock %}
{% block appScript %}
    <script src="views/app/js/reagendamiento/reagendamiento.js"></script>
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script>
        $("#tblobservacion").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "scrollX": true,
            "lengthMenu": [[5, 10, 50], [5, 10, 50]],
            "iDisplayLength": 5,
            "bSort": false,
            "info": true,
            "paging": true,
            "autoWidth": true,
            "searching": true
        });
        $("#tblhistorial").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "scrollX": true,
            "lengthMenu": [[5, 10, 50], [5, 10, 50]],
            "iDisplayLength": 5,
            "bSort": false,
            "info": true,
            "paging": true,
            "autoWidth": true,
            "searching": true
        });
    </script>

{% endblock %}
