{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
    <style media="screen">
        .at {
            display: none;
        }
    </style>
{% endblock %}
{% block appBody %}
    <section class="content-header">
        <h1>
            Listado De Areas Contingencia
            <small>Áreas Registradas en la plataforma</small>

            <a class="btn btn-primary btn-social pull-right" href="casilleros/agregar" title="Agregar" data-toggle="tooltip">
                <i class="fa fa-plus"></i>
                Agregar Nuevo Casillero
            </a>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataordenes" name="dataordenes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id Area</th>
                                    <th>Nombre Área</th>
                                    <th>Nombre del Responsable</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data if false != data %}
                                    <tr>
                                        <td>{{d.id_contingencia}}</td>
                                        <td>{{d.nombre}}</td>
                                        <td>{{d.name}}</td>
                                        <td >
                                            <a data-toggle='tooltip' data-placement='top' id="btnmodificar" name="btnmodificar" title='Modificar' class='btn btn-success btn-sm' href="casilleros/editar/{{d.id_responsable}}">
                                                <i class='glyphicon glyphicon-edit'></i>
                                            </a>
                                            <a data-toggle='tooltip' data-placement='top' id="visualizar" name="visualizar" title='Ver Observacion' class='btn btn-primary btn-sm' onclick="visualizar({{d.id_responsable}});">
                                                <i class='glyphicon glyphicon-eye-open'></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block appScript %}

    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="views/app/js/casilleros/casilleros.js"></script>
    <script>
        $("#dataordenes").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "scrollX": true,
            "bSort": false
        });
    </script>
{% endblock %}
