{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        var respuestaComunas = new Array();
        $(document).ready(function (){
            $.ajax({
                type: "POST",
                url: "api/mostrarComunas2",
                success: function(response){
                    for (var i=0; i<response.length; i++) {
                        
                        respuestaComunas.push(response[i]["descripcion"]);
                    }
                },                
                error: function(xhr, status) {
                    msg_box_alert(99, "Filtrar Ordenes", xhr.responseText);
                }
            });
            
            $( "#comuna" ).autocomplete({
                source: respuestaComunas
            });
        });
    </script>
{% endblock %}

{% block appBody %}
    <section class="content-header">
        <h1>
            Escalamiento
            <small>Actividades mal Derivadas</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="escalamiento/inicio">Inicio</a>
            </li>
            <li>
                <a href="escalamiento/listar_evento">Listado de Escalamientos</a>
            </li>
            <li class="active">Agregar Escalamiento</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <form id="formAgregarEscalamientoNoCorresponde" name="formAgregarEscalamientoNoCorresponde" class="formAgregarEscalamientoNoCorresponde">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Finalizar Orden</h3>
                        </div>
                        
                        <div class="box-body">
                            <div class="col-md-12 text-center">
                                <a data-toggle='tooltip' data-placement='top' name="btnAgregarEscalamiento" id="btnAgregarEscalamiento" class='btn btn-success' onclick="agregarEscalamientoNoCorresponde();">Finalizar Gestión
                                </a>
                                <input type="reset" class="btn btn-warning">
                            </div>
                            <div class="col-md-6">
                                <label>Nombre Usuario:</label><input type="text"   class="form-control"  value="{{ owner_user['name'] }} " disabled>
                                <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"  value="{{ owner_user['name'] }}" style="display:none">
                            </div>
                            
                            <div class="col-md-6">
                                <label for="nombreRemitente">Nombre remitente:</label>
                                <input type="text" name="nombreRemitente" id="nombreRemitente" class="form-control nombreRemitente"  value="{{ datos.nombreRemitente }}" placeholder="Ingrese nombre Remitente" readonly>
                            </div>
                            <div class="col-md-6">
                                <label>Rut Cliente:</label>
                                <input type="text" name="rutCliente" id="rutCliente" class="form-control rutCliente"  value="" placeholder="Ingrese Rut Cliente">
                            </div>
                            <div class="col-md-6">
                                <label>Área Ingreso:</label>
                                <input type="text" name="areaIngreso" id="areaIngreso" class="form-control areaIngreso"  value="{{datos.areaIngreso}}" placeholder="Ingrese Area Ingreso" readOnly>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha Ingreso Actividad:</label><input type="date" name="fecha" id="fecha" class="form-control" value="{{ "now"|date("Y-m-d") }}" readonly>
                            </div>
                            <div class="col-md-6">
                                  <label>Id Actividad:</label>
                                  <input type="text" name="idActividad" id="idActividad" class="form-control idActividad" placeholder="Ingrese id Actividad" value="{{ id_actividad }}" readonly>
                            </div>
                            <div class="col-md-12">
                                <label>Observación:</label>
                                <textarea name="observacion" id="observacion" cols="30" rows="3" class="form-control observacion"></textarea>
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" name="fechaFinalizacion" id="fechaFinalizacion" class="form-control fechaFinalizacion" placeholder="" value="{{ "now"|date("Y-m-d") }}" >
                            </div>
                            <div class="col-md-12 text-center">
                                <br>
                                <a data-toggle='tooltip' data-placement='top' name="btnAgregarEscalamiento" id="btnAgregarEscalamiento" class='btn btn-success' onclick="agregarEscalamientoNoCorresponde();">Finalizar Gestión
                                </a>
                                <input type="reset" class="btn btn-warning">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
    {% block appScript %}
        <script src="views/app/js/escalamiento/escalamiento.js" type="text/javascript"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endblock %}
