{% extends 'portal/portal' %}
{% block appStylos %}
    <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
    <style media="screen">
        .at {
            display: none;
        }
    </style>
{% endblock %}
{% block appBody %}

    <section class="content-header menu" id="menu" >
        <h1>
            Listado Actividades
            <small>Detalle de Actividades</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li ><a href="escalamiento/escalamiento" >Principal</a></li>
            <li class="active">
                <button type="button" name="button" class="btn btn-primary" onclick= location.href='escalamiento/agregarEncargadoFiltrar'>Agregar Actividad</button>
            </li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <table id="dataordenes" name="dataordenes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Fecha Ingreso</th>
                                    <th>Fecha Compromiso</th>
                                    <th>Rut</th>
                                    <th>Id Actividad</th>
                                    <th>Comuna </th>
                                    <th>Remitente</th>
                                    <th>Bloque </th>
                                    <th>Tipo Actividad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%  for  d in data['data'] if false != data['data'] %}
                                    <tr>
                                        <td>{{ d[0] }}</td>
                                        <td>{{ d[1] }}</td>
                                        <td>{{ d[2] }}</td>
                                        <td>{{ d[3] }}</td>
                                        <td>{{ d[4] }}</td>
                                        <td>{{ d[5] }}</td>
                                        <td>{{ d[6] }}</td>
                                        <td>{{ d[7] }}</td>
                                        <td><a data-toggle='tooltip' data-placement='top' id="visualizar" name="visualizar" title='Agrega El detalle de tu gestión' class='btn btn-success btn-sm' onclick="agregarGestion('{{ d[3] }}');">Agregar Gestión</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block appScript %}
    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="views/app/js/escalamiento/escalamiento.js"></script>
    <script>
        /*$("").dataTable({
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No hay datos para mostrar",
                "info": "Mostrando _END_ Registros, de un total de _TOTAL_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "infoEmpty": "No hay entradas para mostrar",
                "lengthMenu": "Mostrar _MENU_ Filas",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "autoWidth": true,
            "scrollX": true,
            "bSort": false
        });*/
    </script>
{% endblock %}
